body {
    text-align: center
}

.container-form {
    max-width: 500px;
    margin: 0 auto;
}

.table-narrow-th th {
    width: 6%;
    padding: 4px 10px;
}

.table-narrow-th td {
    white-space: nowrap;
    width: 35%;
    padding: 4px 10px;
}
