{% extends "layout.html" %}

{% block title %}
    Add trip
{% endblock %}

{% block main %}

    <form action="/add" method="post" class="container">
        
        <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input autocomplete="off" class="form-control mx-auto w-auto" name="name" placeholder="Trip name"
                type="text">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Country</span>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="country" placeholder="Country"
                type="text">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">City</span>
            <input class="form-control mx-auto w-auto" name="city" placeholder="City" type="text">
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <label class="input-group-text" for="status">Status</label>
                    <select class="form-select" name="status" id="status">
                        <option disabled selected value="">Select...</option>
                        {% for status_option in status %}
                        {% if status_option != 'Visited' %}
                        <option value="{{ status_option }}">{{ status_option }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col">
                <div class="input-group">
                    <label class="input-group-text" for="type">Trip type</label>
                    <select class="form-select" name="type" id="type">
                        <option disabled selected value="">Select...</option>
                        {% for type in types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        
        
        <button class="btn btn-outline-secondary mt-4 text-align-start" type="submit">Add trip</button>

    </form>

{% endblock %}
