{% extends "layout.html" %}

{% block title %}
    Add trip
{% endblock %}

{% block main %}

    <form action="/add" method="post" class="container-form">
        
        <h2 class="my-5">⊕ Add a new trip!</h2>

        <p class="my-4">Add a new trip to your dashboard! 📋</p>

        <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input autocomplete="off" class="form-control" name="name" placeholder="Trip name"
                type="text">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Country</span>
            <input autocomplete="off" autofocus class="form-control" name="country" placeholder="Country"
                type="text">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">City</span>
            <input autocomplete="off" class="form-control" name="city" placeholder="City" type="text">
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <label class="input-group-text" for="status">Status</label>
                    <select class="form-select" name="status" id="status" aria-label="Select trip status">
                        <option disabled selected value="">Select...</option>
                        {% for status_option in status %}
                            <option value="{{ status_option }}">{{ status_option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="col">
                <div class="input-group">
                    <label class="input-group-text" for="type">Trip type</label>
                    <select class="form-select" name="type" id="type" aria-label="Select trip type">
                        <option disabled selected value="">Select...</option>
                        {% for type in types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        
        <div class="my-5">
            <button class="btn btn-warning mt-4" type="submit"><i class="fa-solid fa-plus"></i> Add trip</button>
        </div>

    </form>

{% endblock %}
