{% extends "layout.html" %}

{% block title %}
    ✏️ Edit Buddy
{% endblock %}

{% block main %}
<h3 class="mb-4">✏️ Edit Buddy</h3>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-8 col-md-6">

            <!-- Buddy update form-->
            <form action="/edit_buddy/{{ buddy.id }}" method="post">

                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="buddy_name" id="buddy_name"
                            value="{{ buddy.name }}">
                        <label for="country">Edit or update Buddy name</label>
                    </div>
                </div>

                <!-- Relationship type -->
                <div class="row mb-3">
                    <div class="input-group">
                        <div class="input-group-text">Relationship type</div>
                        <select class="form-select" name="relationship">
                            <option disabled selected value="{{ relationship_type }}">Select ...</option>
                            {% for relationship_type in relationship %}
                            <option value="{{ relationship_type }}">{{ relationship_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="d-flex gap-2 mt-3 justify-content-center">
                    <button class="btn btn-outline-dark" type="submit">Save changes</button>
                    <a href="/trip/{{ buddy.trip_id }}" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-xmark"></i> Cancel
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}