{% extends "layout.html" %}

{% block title%}
    Dashboard
{% endblock %}

{% block main %}
    <h1 class="m-5">My trips</h1>

    <div class="card-group mb-5">
        {% for trip in trips %}
        <div class="card mb-4 shadow-sm">
            {% if trip.image_url %}
            <img src="{{ trip.image_url }}" class="card-img-top" alt="Image of {{ trip.city }}">
            {% endif %}
            <div class="card-body">
                {% if trip.name %}
                    <h5 class="card-title">{{ trip.name }}</h5>
                {% endif %}
                <p class="card-text">{{ trip.city }}, {{ trip.country }}</p>
                <a href="/trip/{{ trip.id }}" class="btn btn-outline-primary btn-sm">View Trip</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a class="btn btn-primary" href="/add">⊕ Add Trip</a>

{% endblock %}