{% extends "layout.html" %}

{% block title%}
    Dashboard
{% endblock %}

{% block main %}
    <h1 class="m-5">My trips</h1>

    <div class="card-group mb-5">
        {% for trip in trips %}
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                {% if trip.name%}
                    <h5 class="card-title">{{ trip.name }}</h5>
                {% endif %}
                <h3>{{ trip.country }}</h3>
                <h6>{{ trip.city }}</h6>
                <a href="/trip/{{ trip.id }}" class="btn btn-primary">View Trip</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a class="btn btn-primary" href="/add">⊕ Add Trip</a>

{% endblock %}