{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<p class="mb-5">You can change your password here</p>

<form action="/password" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current"
            placeholder="Current password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="New password"
            type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation"
            placeholder="Confirm new password" type="password">
    </div>
    <button class="btn btn-light mt-4" type="submit">Change password</button>
</form>

{% endblock %}