{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<p class="my-5">You can change your password here</p>

<form action="/password" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current"
            placeholder="Current password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="New password"
            type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation"
            placeholder="Confirm new password" type="password">
    </div>
    
    <!-- Buttons -->
    <button class="btn btn-light mt-3" type="submit"><i class="fa-solid fa-key"></i> Change password</button>
    <div>
        <a href="/account" class="btn btn-outline-secondary my-5"><i class="fa-solid fa-xmark"></i> Cancel</a>
    </div>


</form>

{% endblock %}