{% extends "layout.html" %}

{% block title %}
    Trip detail
{% endblock %}

{% block main %}
    <div class="container">
        <div class="d-flex align-items-start mb-4">
            {% if trip.name %}
                <h1>{{ trip.name }}</h1>
            {% endif %}
        </div>
        <div class="d-flex align-items-start">
            <h2>📍 {{ trip.country }} - {{ trip.city }}</h2>
        </div>
        <div class="d-flex align-items-start">
            <h6>Photo</h6>
        </div>
        <div class="d-flex align-items-start">
            <p>Other</p>
        </div>
        <div class="d-flex align-items-start">
            <a href="/edit/{{ trip.id }}" class="btn btn-primary">Edit Trip</a>
        </div>
    </div>
    
    <!-- Prompt user if they are sure that they want to delete trip -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal{{ trip.id }}">
        Delete Trip 
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ trip.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ trip.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete trip</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this trip?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST" action="/delete/{{ trip.id }}">
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}